@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, Montserrat;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.5;
}

.app {
    min-height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    background: white;
    position: relative;
}

// Telegram colors
:root {
    --tg-theme-bg-color: #ffffff;
    --tg-theme-text-color: #000000;
    --tg-theme-hint-color: #999999;
    --tg-theme-link-color: #0088cc;
    --tg-theme-button-color: #0088cc;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-secondary-bg-color: #f1f1f1;
}
