.historyPage {
    min-height: 100vh;
    padding-bottom: 80px;
    // background: #f6f7f9;
}

.header {
    color: #333;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0000001f;
    text-align: center;

    h1 {
        font-size: 20px;
        font-weight: 600;
    }
}

.main {
    padding: 20px;
}

.emptyState {
    text-align: center;
    padding: 40px 20px;
    color: var(--tg-theme-hint-color);
}

.ordersList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.orderCard {
    padding: 16px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    }
}

/* верхняя строка */
.topRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 8px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    flex: 1;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* статус-бейдж */
.status {
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

/* статусы */
.pending_assignment,
.pending {
    background: #fff3e0;
    color: #f57c00;
}

.in_progress {
    background: #e3f2fd;
    color: #1976d2;
}

.completed {
    background: #e8f5e9;
    color: #2e7d32;
}

.cancelled {
    background: #fdecea;
    color: #c62828;
}

/* описание */
.description {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.4;
    margin-bottom: 10px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* адрес */
.address {
    font-size: 13px;
    color: #374151;
    background: #f1f5f9;
    padding: 6px 10px;
    border-radius: 10px;
    margin-bottom: 12px;
}

/* низ карточки */
.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #6b7280;
}

.master {
    font-weight: 500;
}
