.page {
    min-height: 100vh;
    // background: #f6f7f9;
    padding-bottom: 80px;
}

.header {
    padding: 16px 20px;
    background: #fff;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 18px;
        font-weight: 600;
    }
}

.main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* статус */
.status {
    align-self: flex-start;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
}

/* основной блок */
.mainCard {
    padding: 16px;
    border-radius: 18px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.description {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.4;
    margin-bottom: 14px;
    text-align: left;
    margin-top: 10px;
}

/* мета */
.meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.metaItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #374151;
}

/* мастер */
.masterCard {
    padding: 16px;
    border-radius: 18px;
}

.sectionTitle {
    font-size: 13px;
    color: #6b7280;
    margin-bottom: 10px;
    display: block;
}

.master {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.masterName {
    font-size: 14px;
    font-weight: 600;
}

.masterSub {
    font-size: 12px;
    color: #9ca3af;
}

.pending_assignment {
    background: #fff3e0;
    color: #f57c00;
}

.in_progress {
    background: #e3f2fd;
    color: #1976d2;
}

.completed {
    background: #e8f5e9;
    color: #2e7d32;
}

.cancelled {
    background: #fdecea;
    color: #c62828;
}
